__<h1><center>ML Zoomcamp 2023 - Homework #1</center></h1>__

In [16]:
import pandas as pd

In [17]:
pd.__version__

'2.1.0'

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)

__Question 2<b>__

How many columns are in the dataset?

10
6560
10989
20640

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

__Question 3<b>__

Which columns in the dataset have missing values?

total_rooms
total_bedrooms
both of the above
no empty columns in the dataset

In [13]:
missing_values = df.isna().sum()
print(missing_values)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

__Question 4<b>__
    
How many unique values does the ocean_proximity column have?

3
5
7
9

In [14]:
unique_values = df['ocean_proximity'].nunique()

# Print the number of unique values
print(unique_values)

5

__Question 5__<b>
    
What's the average value of the median_house_value for the houses located near the bay?

49433
124805
259212
380440

In [22]:
bay_houses = df[df['ocean_proximity'] == 'NEAR BAY']
average_value_near_bay = bay_houses['median_house_value'].mean()

print(average_value_near_bay)

259212.31179039303

__Question 6__<b>
   
Calculate the average of total_bedrooms column in the dataset.
    
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
    
Now, calculate the average of total_bedrooms again.
    
Has it changed?

In [25]:
average_total_bedrooms_before = df['total_bedrooms'].mean()
df['total_bedrooms'].fillna(average_total_bedrooms_before, inplace=True)
average_total_bedrooms_after = df['total_bedrooms'].mean()

print(average_total_bedrooms_after)

537.8705525375617

__Question 7<b>__
    
Select all the options located on islands.
    
Select only columns housing_median_age, total_rooms, total_bedrooms.
    
Get the underlying NumPy array. Let's call it X.
    
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    
Compute the inverse of XTX.
    
Create an array y with values [950, 1300, 800, 1000, 1300].
    
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    
What's the value of the last element of w?

In [55]:
import numpy as np


island_options = df[df['ocean_proximity'] == 'ISLAND']
selected_columns = island_options[['housing_median_age', 'total_rooms', 'total_bedrooms']]


X = selected_columns.values

XTX = np.dot(X.T, X)
inv_XTX = np.linalg.inv(XTX)

y = np.array([950, 1300, 800, 1000, 1300])


w = np.dot(np.dot(inv_XTX, X.T), y)
last_element_w = w[-1]

print(last_element_w)

5.699229455065565